# このコメント行を削除し、.sampleを外してキーを入れる
{
  "FIREBASE_API_KEY": "Your key",
  "FIREBASE_AUTH_DOMAIN": "Your key",
  "FIREBASE_DATABASE_URL": "Your key",
  "FIREBASE_PROJECT_ID": "Your key",
  "FIREBASE_STORAGE_BUCKET": "Your key",
  "FIREBASE_MESSAGING_SENDER_ID": "Your key",
  "FIREBASE_APP_ID": "Your key",,
  "FIREBASE_MEASUREMENT_ID": "Your key",
}